.grid-image-div {
  padding-top: 4.3em;
  position: absolute;
  z-index: -1;
}
div.MuiGridListTileBar-actionIcon > a.buttonIcon-img {
  color: rgba(255, 255, 255, 0.6);
}

.MuiGridListTile-imgFullHeight {
  height: unset;
}
@media only screen and (max-width: 750px) {
  .grid-image-div {
    padding-top: 5.8em;
    margin-left: 0;
  }
}